<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSFaceIDUsageDescription</key>
	<string>Enabling Face ID allows quick and secure access to SAP Asset Manager</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Svc&amp;AssetMgr</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.sap.SAPMDC</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mdkclient</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2310.0.500</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Please permit access to microphone</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow camera access to scan barcodes and take pictures to be attached in the app</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow photo library access to attach photos in the app to be uploaded</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Our application needs permission to write photos</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>otpauth</string>
		<string>com.sap.mobile.productviewer</string>
		<string>ctglemurpro</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>DTXApplicationID</key>
	<string>c84a8791-6b51-4344-ab97-9117e6cbfc30</string>
	<key>DTXBeaconURL</key>
	<string>https://ag.canary.eu10.apm.services.cloud.sap:9999/mbeacon/0e78141b-d12e-44a2-a629-463ad5916258</string>
	<key>DTXAutoStart</key>
	<true />
</dict>
</plist>
